# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.bedMethyl
*.tsv
*.png
*.cov
*.fa
*.gtf
*.bw
.vscode/*
*.bam
*.bedgraph
data_tables/*
*.json
DNMTools_datasets/*
feature_references/hg38
feature_references/mm39.chrom.sizes
feature_references/*.bed
feature_references/*.tsv
feature_references/*.bg
feature_references/hg38/repeats/hg38_rmsk_cgi.tsv
test_data/*
.vscode
